<!DOCTYPE HTML>
<html>
 <head>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <script>
     $(function(){
        $("input[name='file']").on("change", function(){
            var formData = new FormData($("#formulario")[0]);
            var datosAjax = {"fichero" : $("#file").file}
            alert($("#file").file);
            //var ruta = "http://";

            $.ajax({
                url: 'http://127.0.0.1:8000/subir_s3/',
                type: "POST",
                data: $("#formulario").serialize(),
                contentType: false,
                processData: false,
                cache: false,
                dataType: "jsonp",
                crossDomain: true,
                success: function(datos)
                {
                    $("#respuesta").html(datos);
                },
                error: function() {
                    alert("fail");
                },
            });
        });
     });
    </script>
 </head>
 <body>
 <form method="post" id="formulario" enctype="multipart/form-data">
  {% csrf_token %}
       {{form.as_p}}
    Subir imagen: <input type="file" id="file" name="file">
 </form>
  <div id="respuesta"></div>
 </body>
</html>
