<!DOCTYPE html>
<html>
<head>
    
<title>Pruebart</title>
    
<script type="text/javascript">
    function loadArtistas() {
        alert("ENTRo")
        $.ajax({
        //artistas: lit-woodland-9635.herokuapp.com/artistas
        //usuarios: lit-woodland-9635.herokuapp.com/usuarios
        type: 'GET',
        url: 'lit-woodland-9635.herokuapp.com/usuarios',
        jsonpCallback: 'callback',
        contentType: "application/json",
        //data: {user: sessvars.iduser, funcion: '1', opcion: '2'},
        dataType: 'jsonp',
        crossDomain: true,
        success: function (json) {
            var content = json.content;
            if (json.status == 'OK') {

                if(content.length == 0 ){

                    //$("#clientesactivos").replaceWith('<div id="clientesactivos">Actualmente no existen clientes activos.</div>');

                } 

            } 
        },
        error: function (jqXHR, status, error) {
            console.log(status + ' ' + error)
        }
    });

}

(function() {
    document.getElementById("btn").onclick = loadArtistas();
})();
</script>

</head>
<body>
<form method="POST" action=".">{% csrf_token %}

    <imput type = 'submit' name='btn' id='btn' value='apreta' />
   

</form>

</body>
</html>

