<!doctype html>
<html>
 <head>
    <meta charset="UTF-8">
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <script>
     $(function(){
        $("input[name='filename']").on("change", function() {
            
            //var formData = new FormData($("#formulario"));
            var ficheros = $('#filename').get(0).files;
            alert(ficheros[0])
            var formData = new FormData();
            formData.append('filename', fichero);
            //formData.append("filename", $(this)[0].files[0]);
            //var datosAjax = {"fichero" : $("#file").file}
            //var ruta = "http://";

            $.ajax({
                url: 'http://lit-woodland-9635.herokuapp.com/subir_s3/',
                type: 'POST',
                data: formData,
                //contentType: false,
                processData: false,
                cache: false,
                dataType: "jsonp",
                crossDomain: true,
                success: function(datos)
                {
                    $("#respuesta").html(datos);
                },
                error: function() {
                    alert("fail");
                },
            });
        });
     });
    </script>
 </head>
 <body>
 <form method="POST" id="formulario" name="formulario" enctype="multipart/form-data">
  {% csrf_token %}
       {{form.as_p}}
    Subir imagen: <input type="file" id="filename" name="filename">
 </form>
  <div id="respuesta"></div>
 </body>
</html>
