<!DOCTYPE html>
<html>
<head>
    
    <title>Subir imagen</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
<input id="fichero" type="file" />
<button id="click_button" value="Click" name="click_button"></button>
<script type="text/javascript">
    var datos_ajax = {"fichero" : $("#fichero").file}
    $(document).ready(function() {
        $("#click_button").click(function(){
            alert("pasa");
            $.ajax({
                url: 'http://127.0.0.1:8000/subir_s3?fichero=%s' % $("#fichero"),
                type: "GET",
                data: datos_ajax,
                dataType: "jsonp",
                crossDomain: true,
                success: function(jsonp) {
                    alert("exito");
                    console.log(jsonp);
                },
                error: function() {
                    alert("fail");
                },
            });

        });
    });

</script>


  <!--  <a href="javascript:f()" >hola</a> -->

</body>
</html>

