<!DOCTYPE html>
<html>
<head>
    
    <title>Subir imagen</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
<form method="POST" id="formulario" name="formulario" enctype="multipart/form-data">
  {% csrf_token %}
       {{form.as_p}}
<input id="fichero" type="file" />
<button id="click_button" value="Click" name="click_button"></button>
</form>
<script type="text/javascript">
    var datos_ajax = {"fichero" : $("#fichero").file}

    $(document).ready(function() {
        alert($("#fichero").file)
        $("#click_button").click(function(){
            alert("pasa");
            $.ajax({
                url: 'lit-woodland-9635.herokuapp.com/subir_s3?fichero=%s' % $("#fichero"),
                type: "GET",
                data: datos_ajax,
                dataType: "jsonp",
                crossDomain: true,
                success: function(jsonp) {
                    alert("exito");
                    console.log(jsonp);
                },
                error: function() {
                    alert("fail");
                },
            });

        });
    });

</script>


  <!--  <a href="javascript:f()" >hola</a> -->

</body>
</html>

