<!DOCTYPE html>
<html>
<head>
    
    <title>Pruebart</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>

<input id="click" type="button" value="Cliqueame" />
<script type="text/javascript">
    $(document).ready(function() {
        $("#click").click(function(){
            $.ajax({
                url: 'http://127.0.0.1:8000/usuarios_crossdomain/',
                type: "GET",
                dataType: "jsonp",
                crossDomain: true,
                success: function(response) {
                    alert("exito");
                },
                error: function() {
                    alert("fail");
                },
            });
        });
    });

</script>


  <!--  <a href="javascript:f()" >hola</a> -->

</body>
</html>

